<html>

  <body>
    <h1> New Recipe</h1>

    <form action ='/recipes' method="post">
      <label for="name"> Recipe: </label><input id="name" type="text" name="name"><br>
      <label for="ingredients"> Testing </label><input id="ingredients" type="text" name="ingredients"><br>

       <input id="submit" type="submit" value="submit">
     </form>
   </body>

   </html>
