<html>

  <body>
    <h1> New Recipe</h1>

    <form action ='/recipes/new' method="post">
      <label for="name"> Testing </label><input id="name" type="text" name="name"><br>
      <label for="content"> Testing </label><input id="content" type="text" name="content"><br>

       <input id="submit" type="submit" value="submit">
     </form>
   </body>

   </html>